# Ignore Mac system files
.DS_store

# Ignore folder
__pycache__
.venv
.pytest_cache
.benchmarks
.obsidian
rag
log

# Ignore key files
.env

# Ignore .vscode folder
.code-workspace
01_learn_from_book_joe.ipynb
